@import "../../vars.css";


.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-radius: 10px;
  background: linear-gradient(180deg, #284ad1 0%, #132a53 100%);
  border: #7d2fc7 2px solid;
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 15px;
  max-width: 322px;
  margin: 0 auto;
  height:93%
}


.image {
  margin-bottom: 25px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  height:50px;
  overflow: auto;
  white-space: nowrap;
 
}
.title::-webkit-scrollbar {
  height: 6px;
}

.title::-webkit-scrollbar-track {
  background: #132a53;
  border-radius: 5px;
}

.title::-webkit-scrollbar-thumb {
  background-color: #576cbc;
  border-radius: 5px;
  border: 2px solid #132a53;
}


.desc {
  margin-top: 5px;
  background: #1414737d;
  height: 100px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  overflow-y: auto;
}


.desc::-webkit-scrollbar {
  width: 8px;
}

.desc::-webkit-scrollbar-track {
  background: #132a53;
  border-radius: 5px;
  
}

.desc::-webkit-scrollbar-thumb {
  background-color: #576cbc;
  border-radius: 5px;
  border: 2px solid #132a53;
}

.skills {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70px;
}


.skills::-webkit-scrollbar {
  height: 10px;
}

.skills::-webkit-scrollbar-track {
  background: #132a53;
  border-radius: 5px;
}

.skills::-webkit-scrollbar-thumb {
  background-color: #576cbc;
  border-radius: 5px;
  border: 2px solid #132a53;
}

.skill {
  font-size: 20px;
  height: auto;
  white-space: nowrap;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 5px 22px;
}

.links {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 200;
  border-radius: 10px;
  background: linear-gradient(90deg, #284ad19b 0%, #a91c9694 100%);
  padding: 1px 22px;
  white-space: nowrap;
}
