:root{
    --color-text: white;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg:#04152d;

    --font-roboto: "Roboto";
    --navbar-height: 92px;
    --color-blue: #5170FF;
    --color-pink: #FF66C4;
}